services:
  - type: web
    name: devsphere
    runtime: node
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: GROQ_API_KEY
        sync: false
      - key: GROQ_MODEL
        value: llama-3.1-8b-instant
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
